@charset "utf-8";
@import "iconfont/iconfont.css";

html, body {min-width: 1400px;font-family: "微软雅黑";}

* {margin: 0;padding: 0;}

a {
	&:hover {
		text-decoration: none;
	}
}

$color: #333 #666 #999 #f00;
$border-color: #dedede;
$font-color: (
		cfff:#fff,
		c333:#333,
		c666:#666,
		c999:#999,
		cf00:#f00,
		c905:#905b41,
		c717:#71706f
);
button, input, select {
	outline: none !important; box-shadow: none;
}

.container {width: 1140px;}

.btn {cursor: pointer;}
.textI2{text-indent: 2em;}
.font25{font-size: 25px;}
.font35{font-size: 35px;}
@for $i from 1 through 40 {
	.blk#{$i * 5} {
		font-size: 0;line-height: 0;clear: both;overflow: hidden;
		height: $i*5 +px;
	}
	.mar-#{$i*5} {margin: $i*5 +px;}
	.ml-#{$i*5} {margin-left: $i*5 +px;}
	.mt-#{$i*5} {margin-top: $i*5 +px;}
	.mr-#{$i*5} {margin-right: $i*5 +px;}
	.mb-#{$i*5} {margin-bottom: $i*5 +px;}
	.pad-#{$i*5} {padding: $i*5 +px;}
	.pl-#{$i*5} {padding-left: $i*5 +px;}
	.pt-#{$i*5} {padding-top: $i*5 +px;}
	.pr-#{$i*5} {padding-right: $i*5 +px;}
	.pb-#{$i*5} {padding-bottom: $i*5 +px;}
	.font#{10+$i*2} {font-size: 10+$i*2+px;}
	.lh#{10+$i*2} {line-height: 10+$i*2+px;}
}

@each $i, $c in $font-color {
	.#{$i} {color: $c}
}

@for $i from 1 through 20 {
	.w#{$i*5} {width: $i*5 * 1%;}
}

.bdl {border-left: 1px solid $border-color;}

.bdt {border-top: 1px solid $border-color;}

.bdb {border-bottom: 1px solid $border-color;}

.bdr {border-right: 1px solid $border-color;}

.bda {border: 1px solid $border-color;}

.bdl-d {border-left: 1px dashed $border-color;}

.bdt-d {border-top: 1px dashed $border-color;}

.bdb-d {border-bottom: 1px dashed $border-color;}

.bdr-d {border-right: 1px dashed $border-color;}

.bda-d {border: 1px dashed $border-color;}

.div_vm, .iconfont {display: inline-block;vertical-align: middle;}

.header {
	width: 1140px;margin: 0 auto;

	& .headerTop {
		padding-top: 25px;height: 85px;

		& .logo {
			float: left;width: 240px;height: 60px;background: url("../images/index_03.jpg") no-repeat center center;
		}

		& .headerSearch {
			float: left;width: 490px;height: 40px;margin: 10px 50px;position: relative;

			& input {box-shadow: none;height: 40px;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;position: absolute;left: 0; top: 0;z-index: 1;padding-left: 20px;padding-right: 95px;}

			& button {-webkit-border-radius: 0 20px 20px 0;-moz-border-radius: 0 20px 20px 0;border-radius: 0 20px 20px 0;height: 40px;width: 80px;position: absolute;right: 0;top: 0;z-index: 2;background-color: #905b41;border-color: #905b41;color: #fff;}
		}

		& .headerLogin {
			float: right;height: 60px;

			& .btn {
				height: 40px;line-height: 1.9;
			}
		}
	}

	& .menu {
		clear: both;height: 100px;padding-top: 35px;padding-bottom: 25px;

		& > a {
			display: inline-block;color: #905b41;font-size: 20px;margin-right: 95px;position: relative;height: 40px;line-height: 40px;

			&:after {content: '';width: 70%;height: 3px;background: #905b41;position: absolute;left: 50%;margin-left: -35%;bottom: 0;display: none;}

			&.active {
				font-weight: bold;

				&:after {display: block;}
			}

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.kefu{
	background: #f9f7f5;width: 300px;position: fixed;top: 35%;right:10px;z-index: 9999;padding: 25px 50px;box-shadow:0 0 5px #ccc;
	& .btn{
		height: 55px;padding: 0;line-height: 55px;background-color: #905b41;border-color: #905b41;color: #fff;font-size: 20px;
		&.is-plain{background-color: #fff;color: #905b41;}
		&.btn-img{
			position: relative;
			& img{
				position: absolute;left: 50%;margin-left: -53px;bottom: -25px;
			}
		}
	}
}

.footer {
	background-image: url(../images/index_25.jpg); background-position: center center;-webkit-background-size: cover;background-size: cover; min-height: 290px;background-repeat: no-repeat;

	& ul {
		float: left;width: 545px;padding-left: 170px;padding-top: 80px;

		& li {
			line-height: 55px;font-size: 20px;list-style: none;

			& i {font-size: 28px;margin-right: 5px;}
		}
	}

	& .footerQrcode {
		float: left;width: 160px;padding-top: 95px;text-align: center;

		& > span {display: block;line-height: 35px;}
	}
}

.banner01 {
	width: 100%;min-height: 500px;background-image: url(../images/index_06.jpg);background-position: center center;background-repeat: no-repeat;-webkit-background-size: cover;background-size: cover;
}
.banner02 {
	width: 100%;min-height: 500px;background-image: url(../images/about_02.jpg);background-position: center center;background-repeat: no-repeat;-webkit-background-size: cover;background-size: cover;
}

.thumbnail {border: none;}

.more {
	position: relative;padding-right: 25px; color: #666;font-size: 20px;

	&:before {content: '\e6fb';font-family: iconfont;display: block;position: absolute;right: 0;top: 0;font-size: 18px;color: #999;}
}

.title01 {
	height: 40px;line-height: 40px;position: relative;margin: 25px -15px;

	&:after {content: '';width: 8px;height: 40px;background: #905b41;display: block;position: absolute;left: 0;top: 0;}

	& > span {
		display: inline-block;float: left;color: #905b41;font-size: 40px;font-weight: bold;padding-left: 15px;
	}

	& > a {float: right;}
}

.LivePlay {
	height: 250px;margin: 0 -15px;
	& .livePlayImg {
		float: left;width: 590px;height: 333px;position: relative;

		& > img {
			width: 590px;height: 333px;position: absolute;left: 0;top: 0;z-index: 1;
		}

		& > .imgTitle {
			width: 590px;height: 75px;background: rgba(0, 0, 0, .5);position: absolute;left: 0;bottom: 0;z-index: 2;padding: 10px 15px;color: #fff;

			& .pull-left {
				& b {font-size: 25px;line-height: 30px;display: block;}
				& span {display: block;line-height: 25px;font-size: 20px;}
			}
			& .pull-right {
				width: 170px;height: 55px;background-color: #905b41;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;text-align: center;
				& b {font-size: 20px;line-height: 25px;display: block;padding-top: 5px;}
				& span {display: block;font-size: 12px;line-height: 20px;}
			}
		}
	}
	& .LivePlayList {
		float: right;width: 550px;height: 333px;background-color: #eee;position: relative;
		&:after {content: '';width: 1px;height: 333px;border-left: 1px dashed #cfcfcf;position: absolute;left: 45px;top: 0;}
		& .livePlayCon {
			width: 550px;height: 233px;padding: 15px 15px 15px 65px;line-height: 39px;font-size: 18px;text-indent: 2em;
		}
		& > dl {
			position: relative;z-index: 10;
			& > dd {
				height: 50px;line-height: 50px;padding-left: 38px;position: relative;
				&:after {content: '';width: 5px;height: 50px;background: #905b41;position: absolute;left: 0;top: 0;display: none;}
				& > a {font-size: 18px;color: #666;}
				&.active {
					background-color: #fff;color: #905b41;box-shadow: 0 0 5px #ccc;
					& > a {color: #905b41;}
					&:after {display: block;}
					& .c999 {color: #905b41;}
				}
			}
		}
	}
}

.recordWrap {
	clear: both;margin: 0 -15px;
	& .recordLeft {
		float: left;width: 780px;
		& .recordItem {
			float: left;width: 360px;height: 365px;margin-right: 30px;margin-bottom: 30px;background: #f0f0f0;
			& .recordImg {
				width: 360px;height: 250px;overflow: hidden;
				& > a {
					width: 360px;height: 250px;display: block;position: relative;
					&:after {content: '\e603';font-family: iconfont;width: 50px;height: 50px;display: block;position: absolute;left: 50%;margin-left: -25px;top: 50%;margin-top: -25px;z-index: 2;color: #905b41;font-size: 60px;background: #fff;line-height: 50px;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;text-align: center;text-indent: -4px;}
					& img {max-width: 360px;max-height: 250px;position: absolute;left: 0;top: 0;z-index: 1;}
				}
			}
			& .recordInfo {
				padding: 15px;
				& .money {
					height: 30px;line-height: 30px;color: #fff;display: inline-block;padding: 0 15px;background: #905b41;
					& .font25 {font-size: 25px;}
				}
			}
		}
	}

	& .recordRight {
		float: right;width: 360px;background: #f9f7f5;padding: 20px;height: 760px;
		& > dl {
			& > dt {font-size: 30px;display: block;color: #905b41;height: 60px;line-height: 60px;text-align: center;font-weight: 500;}
			& > dd {
				height: 44px;
				& > a {
					color: #71706f;
					& > span {line-height: 44px;font-size: 20px;display: inline-block;vertical-align: middle;}
				}
				&:nth-of-type(1) {
					& > a {
						color: #905b41;
						& .iconfont{font-size: 25px;}
						& > span {font-size: 25px;font-weight: bold;}
					}
				}
				&:nth-of-type(2) {
					& > a {
						color: #733719;
						& .iconfont{font-size: 23px;}
						& > span {font-size: 23px;font-weight: bold;}
					}
				}
				&:nth-of-type(3) {
					& > a {
						color: #000;
						& .iconfont{font-size: 20px;}
						& > span {font-size: 20px;font-weight: bold;}
					}
				}
			}
		}
	}
}

.aboutTitle{
	text-align: center;clear: both;margin: 80px 0;
	& > span{
		background: #905b41;color: #fff;height: 90px;line-height: 90px;font-size: 40px;font-weight: bold;padding: 0 55px;display: inline-block;
	}
}
.aboutHonor{
	font-size: 25px;line-height: 50px;
}

